@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    .Bar{
        @apply SDarkBlue p-3;
    };
    body{
        @apply DarkBlue;
    };
    .videos, .movies, .tv-series{
        @apply text-white;
        p{
        @apply text-gray-300
        };
        h1{
            @apply text-3xl m-3;
        }

    };
    .search input{
        @apply DarkBlue;
    };
    
}

@layer utilities{
    /*COLORS*/
    .DarkBlue{
        background-color: #10141e;
    }
    .GrayBlue{
        background-color: #5a698f;
    }
    .Red{
        background-color: #fc4747;
    }
    .SDarkBlue{
        background-color: #161d2f;
    }

    /*APP*/

    body {
        margin: 0;
        overflow-x: hidden;
    }
    
    .header {
        display: flex;
        height: 100vh;
    }
    .Bar {
        width: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        padding: 1.3em;
        margin: 1.5em;
    }
    .Bar img {
        margin-bottom: 1.8em;
    }
    .nav-item img {
        margin-bottom: 1.8em;
    }
    .profile-container {
        margin-top: auto;
    }
    .profile-picture {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 0.01em solid #fff;
    }
    .films {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 2em;
    }

      /*HOME*/
    .videos{
        padding: 0.1em;
    }   
    .videoListSecond {
        display: flex;
        flex-wrap: wrap;
    } 
    .videoListFirst {
        display: flex;
        overflow-x: scroll;
    }
    .videoItem {
        flex: 0 0 auto;
        margin: 0.5rem;
        position: relative;
    } 
    .videoItem img {
        width: 40vh;
        border-radius: 20px;
    }
    .videoInfo {
        margin-top: 10px;
    }
    
      /*Movies*/

    .movies {
        padding: 0.1em;
    }
    .movieList {
        display: flex;
        flex-wrap: wrap;
    }
    .movieItem {
        flex: 0 0 auto;
        margin: 0.5rem;
        position: relative;
    }
    .movieItem img{
        width: 40vh;
        border-radius: 20px;
    }
    .movieInfo {
        margin-top: 10px;
    }

    /*TV*/

    .tv-series {
        padding: 0.1em;
    }
    .seriesList {
        display: flex;
        flex-wrap: wrap;
    }
    .seriesItem {
        flex: 0 0 auto;
        margin: 0.5rem;
        position: relative;
    }
    .seriesItem img {
        width: 40vh;
        border-radius: 20px;
    }
    .seriesInfo {
        margin-top: 10px;
    }
    
    /*text*/

    h2 {
        font-size: 1.3em;
        margin: 5px 0 0 0;
    }
    p {
        font-size: 0.8em;
    }

    /*** tablet ***/
    @media only screen and (max-width: 768px) {

        /*APP*/
        .header {
            flex-direction: column;
        }
        .Bar {
            width: auto;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5em;
            margin: 1.5em;
        }
        .Bar img, .nav-item img {
            margin-bottom: 0;
        }
        .profile-container {
            margin-top: 0;
            padding: 0.3em;
        }
        .logo{
            padding: 0.3em;
        }
        .films {
            padding: 1em;
        }
        .nav-item {
            text-align: center;
            padding: 0.5em;
        }
        .nav-item img {
            width: 20px;
        }
        .grupe{
            display: flex;
            flex-direction: row;
        }

        /*HOME*/
        .videoItem img {
            width: 25vh;
            border-radius: 20px;
        }

        /*Movies*/
        .movieItem img{
            width: 25vh;
            border-radius: 20px;
        }

        /*TV*/
        .seriesItem img {
            width: 25vh;
            border-radius: 20px;
        }

        /*text*/
        h2{
            font-size: 1em;
        }
        p{
            font-size: 0.6em;
        }
      }

    /*logo*/

    .icon img{
        display: inline;
        width: 0.9em;
        margin: 0.3em;
        margin-top: 0.1em;
        border-radius: 0;
    } 

    /*Search*/

    .search input{
        border: none;
        width: 70%;
        padding: 0.7em;
        font-size: 20px;
    }
    .search img{
        display: inline;
        margin: 1em;
        margin-top: 0.1em;
        max-width: 10%;
    }
      /*Bookmark*/

    .bookmark {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
      
    .bookmark img {
        width: 10px;
        border-radius: 0;
    }
    .bookmarkStyle{
        background: #10141ec2;
        border-radius: 50vh;
        padding: 0.5em;
    }
    .bookmarkStyle:hover{
        background:#fff;
        img{
            filter: brightness(0)
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: #10141e
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #171e31; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #5a698fd5;
}
