@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

    body{
        @apply DarkBlue;
    };

    /*App*/
    .Bar{
        @apply SDarkBlue p-3;
    };

    /*HOME, TV, Movies*/
    .videos, .movies, .tv-series{
        @apply text-white;
        p{
        @apply text-gray-300
        };
        h1{
            @apply text-3xl m-3;
        }

        /*phone*/
        @media only screen and (max-width: 376px) {
            h1{
                @apply text-2xl m-3;
            }

        }
    };
    .search input{
        @apply DarkBlue;
    };

    /*login and signup*/
    .signup-link a, .login-link a{
        @apply TRed;
    }
    .login-box, .signup-box{
        @apply text-white SDarkBlue;
    }
    .login-button:hover, .signup-button:hover{
        @apply bg-white TSDarkBlue;
    }
    .input-group input {
        @apply SDarkBlue;
    }
    .login-button, .signup-button{
        @apply text-white Red;
    }
    .signup-link a, .login-link a{
       @apply TRed;
    }
    .signup-link a:hover, .login-link a:hover{
        @apply text-white;
    }

}

@layer utilities{
    /*COLORS*/
    .DarkBlue{
        background-color: #10141e;
    }
    .GrayBlue{
        background-color: #5a698f;
    }
    .Red{
        background-color: #fc4747;
    }
    .SDarkBlue{
        background-color: #161d2f;
    }
    /*Text colors*/
    .TDarkBlue{
        color: #10141e;
    }
    .TGrayBlue{
        color: #5a698f;
    }
    .TRed{
        color: #fc4747;
    }
    .TSDarkBlue{
        color: #161d2f;
    }
    /*APP*/

    body {
        margin: 0;
        overflow-x: hidden;
    }
    
    .header {
        display: flex;
        height: 100vh;
    }
    .Bar {
        width: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        padding: 1.3em;
        margin: 1.5em;
    }
    .Bar img {
        margin-bottom: 1.8em;
    }
    .nav-item img {
        margin-bottom: 1.8em;
    }
    .profile-container {
        margin-top: auto;
    }
    .profile-picture {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 0.01em solid #fff;
    }
    .films {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 2em;
    }

    /*HOME*//*Movies*//*TV*/

    .videos, .movies, .tv-series {
        padding: 0.1em;
    }   
    .videoListSecond, .movieList, .seriesList{
        display: flex;
        flex-wrap: wrap;
    } 
    .videoListFirst {
        display: flex;
        overflow-x: scroll;
    }
    .videoItem, .seriesItem, .movieItem{
        flex: 0 0 auto;
        margin: 0.5rem;
        position: relative;
    } 
    .videoItem img, .movieItem img, .seriesItem img{
        width: 40vh;
        border-radius: 20px;
    }
    .videoInfo, .seriesInfo, .movieInfo{
        margin-top: 0.5em;
    }

    /*Home Trending*/
    .imageContainer {
        position: relative;
        display: inline-block;
      }
      
      .imageContainer img {
        width: 60vh;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: end;
      }

    /*Login and SignUp*/
      
    .login-container, .signup-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    .login-box, .signup-box{
        width: 55vh;
        padding: 2em;
        border-radius: 10px;
        text-align: center;
    }
    .login-box h2, .signup-box h2{
        margin-bottom: 0.7em;
        font-size: 1.8em;
        text-align: start;
    }
    .input-group {
        margin-bottom: 15px;
        text-align: left;
    }
    .login-logo{
        margin-bottom: 3em;
    }
    .input-group input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #5A698F;
        border-radius: 5px;
    }
    .input-group input[type=email]:focus, .input-group input[type=password]:focus{
        border-bottom: 2px solid #fff;
    }
    .login-button, .signup-button{
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
    }
    .signup-link, .login-link {
        margin-top: 10px;
    }

    /*text*/

    h2 {
        font-size: 1.3em;
        margin: 5px 0 0 0;
    }
    p {
        font-size: 0.8em;
    }
    


    /*** tablet ***/
    @media only screen and (max-width: 769px) {

        /*APP*/
        .header {
            flex-direction: column;
        }
        .Bar {
            width: auto;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5em;
            margin: 1.5em;
        }
        .Bar img, .nav-item img {
            margin-bottom: 0;
        }
        .profile-container {
            margin-top: 0;
            padding: 0.3em;
        }
        .logo{
            padding: 0.3em;
        }
        .films {
            padding: 1em;
        }
        .nav-item {
            text-align: center;
            padding: 0.5em;
        }
        .nav-item img {
            width: 20px;
            margin: 0.3em;
        }
        .grupe{
            display: flex;
            flex-direction: row;
        }

        /*HOME*//*Movies*//*TV*/
        .videoItem img, .movieItem img, .seriesItem img{
            width: 25vh;
        }

        /*Home Trending*/
        .imageContainer {
            position: relative;
            display: inline-block;
        }
        
        .imageContainer img {
            width: 60vh;
        }
        

        /*login and signup*/
        .login-container, .signup-container{
            height: 80vh;
        }
        .login-box, .signup-box{
            width: 45vh;
        }
        .login-box h2, .signup-box h2{
            margin-bottom: 0.5em;
        }
        .login-box p, .signup-box p{
            padding: 0.7em;
            font-size: 1em;
        }
        .input-group input {
            margin-bottom: 0.7em;
        }

        /*text*/
        h1{
            font-size: 1em;
        }
        h2{
            font-size: 1em;
        }
        p{
            font-size: 0.6em;
        }


    }

    /*** phone ***/
    @media only screen and (max-width: 376px) {
        /*APP*/
        .header {
            flex-direction: column;
        }
        .Bar {
            margin: 0;
            border-radius: 0;
        }
        .profile-picture {
            width: 30px;
            height: 30px;
        }
        .films {
            padding: 0.5em;
        }
        .nav-item img {
            width: 22px;
        }

        /*HOME*//*Movies*//*TV*/
        .videoItem img, .movieItem img, .seriesItem img{
            width: 16vh;
            border-radius: 15px;
        }

        /*Home Trending*/
        .imageContainer {
            position: relative;
            display: inline-block;
        }
        
        .imageContainer img {
            width: 30vh;
        }

        /*login and signup*/
        .login-container, .signup-container{
            height: 75vh;
        }
        .login-box, .signup-box{
            width: 37vh;
        }
        .login-box p, .signup-box p{
            padding: 0.7em;
            font-size: 0.8em;
        }

        /*text*/
        h2{
            font-size: 0.8em;
        }
        p{
            font-size: 0.5em;
        }

        /*search*/
        .search input{
            font-size: 15px !important;
        }
      }


    /*logo*/

    .icon img{
        display: inline;
        width: 0.9em;
        margin: 0.3em;
        margin-top: 0.1em;
        border-radius: 0;
    } 

    /*Search*/

    .search input{
        border: none;
        width: 70%;
        padding: 0.7em;
        font-size: 20px;
        
    }
    .search input[type=text]:focus{
        border-bottom: 2px solid #5A698F;
    }

    .search img{
        display: inline;
        margin: 1em;
        margin-top: 0.1em;
        max-width: 10%;
    }
      /*Bookmark*/

    .bookmark {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
      
    .bookmark img {
        width: 10px;
        border-radius: 0;
    }
    .bookmarkStyle{
        background: #10141ec2;
        border-radius: 50vh;
        padding: 0.5em;
    }
    .bookmarkStyle:hover{
        background:#fff;
        img{
            filter: brightness(0)
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    background: #10141e
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #171e31; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #5a698fd5;
}

[type='text']:focus, [type='email']:focus,[type='password']:focus{
    --tw-ring-color:none;
    --tw-ring-shadow:none;
}
